bin
obj
*.dll

*.pdb

\.vs/HouseManager/v15/\.suo

\.vs/config/applicationhost\.config

\.vs/HouseManager/v15/Server/sqlite3/storage\.ide

\.vs/HouseManager/v15/Server/sqlite3/storage\.ide-shm

\.vs/HouseManager/v15/Server/sqlite3/storage\.ide-wal

~\$moupravitel\.docx
