<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Expenses <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a asp-action="Index" asp-controller="Expenses">View</a></li>
        <li><a asp-action="Create" asp-controller="Expenses">Create</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Questionnaire <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a asp-action="Index" asp-controller="Questionnaires">View</a></li>
        <li><a asp-action="Create" asp-controller="Questionnaires">Create</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meetings <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a asp-action="Index" asp-controller="Meetings">View</a></li>
        <li><a asp-action="Create" asp-controller="Meetings">Create</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
    <ul class="dropdown-menu">

        <li><a asp-action="Index" asp-controller="Buildings">Buildings</a></li>
        <li><a asp-action="HouseManagers" asp-controller="Account">House Managers</a></li>

        <li><a asp-action="Index" asp-controller="Account">Property Owners</a></li>
        <li><a asp-action="Index" asp-controller="Properties">Properties</a></li>
    </ul>
</li>