<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Expences <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a asp-action="Index" asp-controller="Expenses">View</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Questionnaire <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a asp-action="Index" asp-controller="Questionnaires">View</a></li>
        <li><a asp-action="Create" asp-controller="Questionnaires">Create</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meetings <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#">View</a></li>
    </ul>
</li>